.search {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    margin-left: 50px;

    > input {
        margin-left: 5px;
        outline: none;
        border: none;
    }
    > img {
        margin-right: 6px;
        height: 20px;
        width: 20px;
        cursor: pointer;
    }
}
