.myModalBody {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.myModalBody-h3 {
    cursor: pointer;

}

.myModalBody-h3.active {
    color: teal;
}

.myModalBody-h3.inactive {
    color: tomato;
}

.myForm {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.myInputLogin {
    width: 100%;
    padding: 5px 15px;
    margin: 5px 0;
    border: 1px solid teal;
}

.myPassForm {
    display: flex;
    flex-direction: row;
}

.myPassForm input {
    width: 90%;
    padding: 5px 15px;
    margin: 5px 0;
    border: 1px solid teal;
}

.myPassForm img {
    margin: auto;
    height: 20px;
    width: 20px;
    cursor: pointer;

}

.myTextError {
    color: tomato;
}