.dropMenu {
    position: absolute;
    top: 49px;
    right: 0px;
    background-color: #09131b;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    padding: 1px 10px;
    width: 170px;
    &:before {
        position: absolute;
        top: -5px;
        right: 20px;
        height: 20px;
        width: 20px;
        transform: rotate(45deg);
    }
    > ul {
        list-style: none;
    }
    &.active {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        transition: 800ms ease;
    }
    &.inactive {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-90px);
        transition: 800ms ease;
    }
}

.dropMenuItem {
    display: flex;
    margin: 10px auto;
    opacity: 1;
    transition: 700ms;
    &:hover {
        opacity: 0.6;
        cursor: pointer;
    }
    > img {
        width: 25px;
        height: 25px;
        margin-right: 10px;
    }
    > div {
        max-width: 100px;
        margin-left: 10px;
        color: #fff;
    }
}
