.myHeader {
    display: flex;
    justify-content: end;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    background: rgb(241, 230, 230);
    min-width: 100%;
    min-height: 48px;
}

.myLc {
    margin-right: 4px;
    height: 40px;
    width: 40px;
    cursor: pointer;
    border-width: 2px;
    border-radius: 14px;
    border-color: tomato;
    border-style: solid;
}